/*Navigation CSS -same across all pages*/
.navbar
{width:100%;
background-color: #aebea1;   
padding: 0 50px ;
box-sizing:border-box;
}

.navbar h2
{
float: left; 
padding: 15px 0; 
margin: 0;
/*
border-left: 3px solid #9caf88;
border-right:3px solid #9caf88; */
border-radius: 50px; 
font-size: 35px;
font-family: "EB Garamond", serif;
 
  font-weight: 550;
  font-style: normal;
}

.navbar ul 
{
margin: 0;
padding-top: 5px; 
list-style: none; 
float: right; 
}

.navbar ul li 
{
display: inline-block;
padding: 20px 20px; 
text-decoration: none;
color: #000; 
text-transform: uppercase; 
font-weight: bold; 
font-family: "EB Garamond", serif;
  
  font-weight: 500;
  font-style: normal;
}

.navbar ul li a 
{
text-decoration: none;
color: #000; 
text-transform: uppercase; 
font-weight: bold; 
font-family: "EB Garamond", serif;
  
  font-weight: 500;
  font-style: normal;
}

.navbar ul li:hover
{
background: #f0a4bd; /*this changes the color of each word in the navigation when your cursor is over it*/
}
/*end of navigation CSS*/

h1
{
margin: 5px;
padding:0; 
}

h2
{
padding:0; 
}

hr
{
border: 2px solid #f0a4bd; 
}

body
{
background-color: #f0edd8;
}

/*Index/Homepage CSS */
.background {
background-image: url('background4.png'); 
background-size: cover;
background-repeat: no-repeat;
} 

/*About me page CSS*/
.aboutmewrapper
{
display:grid; 
grid-template-rows: 500px 400px 400px;
grid-template-columns: 350px 350px; 
padding-left: 250px;
background-image: url(../images/abtmebkg.png);
background-position: center;
background-size: cover;
}

.aboutmetext
{
grid-row-start:1; 
grid-row-end: 2; 
grid-column-start: 1;
grid-column-end: 2; 
text-align: left;
font-family: "EB Garamond", serif;
font-weight: 450;
font-style: normal;
}

.aboutmeimg
{
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 2;
grid-column-end: 3;
padding-top:15px; 
}

/*this controls the overlay for first image on about me page */
.abcontainer {
position: relative;
}
  
.aboutmeimage {
display: block;
}
/*below I changed the height/width from 100% */

.aboverlay {
position: absolute;
top: 15px; 
bottom: 0; 
left: 0; 
right: 0; 
height: 428px;
width: 428px;
opacity: 0;
transition: 3s ease-in-out;
background-color: #2e664b;
}
  
.abcontainer:hover .aboverlay {
opacity: 1;
}
  
.abtext {
color: white;
font-size: 20px;
position: absolute;
top: 50%; /*changing this will change how far text is from top of your container */
left: 50%; /*if you change this to 100% your text will go outside the right of your grid = changes how far it is from left sife of container*/
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}
  
/*applying transform: translate(-50%, -50%); to it will move the div 50% to the left and 50% up, 
effectively centering it within its parent container  */

.dhtext
{
grid-row-start: 2;
grid-row-end: 3;
grid-column-start: 1;
grid-column-end: 2;
font-family: "EB Garamond", serif;
font-weight: 450;
font-style: normal;
}

.dhimg
{
grid-row-start: 2;
grid-row-end: 3;
grid-column-start: 2;
grid-column-end: 3; 
}

/*this is the overlay for the second image on my about me page*/
.dhcontainer {
position: relative;
}
  
.dhimage {
display: block;
}

/*below I changed the height/width from 100% 
to pixels of the exact size of the container  */

.dhoverlay {
position: absolute;
top: 0; 
bottom: 0; 
left: 0; 
right: 0; 
height: 338px;
width: 338px;
opacity: 0;
transition: 3s ease-in-out;
background-color: #2e664b;
}
  
.dhcontainer:hover .dhoverlay {
opacity: 1;
}
  
.overlaytext {
color: white;
font-size: 20px;
position: absolute;
top: 50%; 
left: 50%; 
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}


.ehtext
{
grid-row-start: 3;
grid-row-end: 4;
grid-column-start: 1;
grid-column-end: 2;
font-family: "EB Garamond", serif;
font-weight: 450;
font-style: normal;
}

.ehimg 
{
grid-row-start: 3;
grid-row-end: 4; 
grid-column-start: 2;
grid-column-end: 3;
padding-left: 3px; 
}

/*CSS for the Environmental Humanities overlay*/ 
.ehcontainer {
position: relative;
}
    
.ehimage {
display: block;
}
/*below I changed the height/width from 100% 
to pixels of the exact size of the container  */

.ehoverlay {
position: absolute;
top: 0; 
bottom: 0;
left: 0; 
right: 0; 
height: 338px;
width: 338px;
opacity: 0;
transition: 3s ease-in-out;
background-color: #2e664b;
}
    
.ehcontainer:hover .ehoverlay {
opacity: 1;
}
    
.overlaytext2 {
color: white;
font-size: 20px;
position: absolute;
top: 50%; 
left: 50%; 
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}

/*CSS for my resume page*/
.resumewrapper
{
display: grid; 
grid-template-columns: 20px 650px 20px;
padding-left: 310px;
padding-top: 10px; 
background-image: url(../images/resume.png);
background-position: center;
background-size: cover;
  }

.resumecontainer
{
grid-column-start: 2;
grid-column-end: 3; 
grid-row-start:1; 
grid-row-end: 2;
background-color: #fff; 
padding:10px; 
}

.bordercontainer
{
grid-column-start: 2;
grid-column-end: 3; 
}

/*portfolio page css*/
.pwrapper1
{
display: grid;
grid-template-rows: 50rem;
grid-template-columns: 60rem;
background: #f0edd8;
padding-top: 50px; 
background-image: url(../images/hm.png); /*this is a background image of leaves*/
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}

.pleftimage1
{
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 1;
grid-column-end: 2;
margin-left: 300px; 
}

.pleftimage1text
{
grid-row-start: 1; 
grid-row-end: 2;
grid-column-start: 1;
grid-column-end:2; 
color: #000;
font-size: 20px;
text-align: center;
align-content: center;
justify-content: center; 
margin-left: 425px; 
margin-right: 175px;
padding-top: 50px ;
padding-left: 0 ;
padding-right: 0;
padding-bottom: 0;
margin-top: 150px;
margin-bottom: 150px;
border-radius: 25px;
background-color: #aebea1;  
}

.pwrapper2
{
display: grid;
grid-template-rows: 50rem;
grid-template-columns: 60rem;
padding-top: 20px;
background-image: url(../images/hm.png);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}

.pleftimage2
{
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 1;
grid-column-end: 2;
margin-left:300px; 
}

.pleftimage2text 
{
grid-row-start: 1; 
grid-row-end: 2;
grid-column-start: 1;
grid-column-end: 2;
color: #000;
font-size: 20px;
text-align: center;
align-content: center;
justify-content: center; 
margin-left: 425px; 
margin-right:175px;
padding-top: 0 ;     
padding-left: 0 ;
padding-right: 0;
padding-bottom: 0;
margin-top: 150px;
margin-bottom: 150px;
border-radius: 25px;
background-color: #aebea1; 
}

.pwrapper3
{
display: grid;
grid-template-rows: 50rem;
grid-template-columns: 60rem;
padding-top: 20px; 
background-image: url(../images/hm.png);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}

.pleftimage3
{
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 1;
grid-column-end: 2;
margin-left: 300px;
}

.pleftimage3text
{
grid-row-start: 1; 
grid-row-end: 2;
grid-column-start: 1;
grid-column-end:2; 
color: #000;
font-size: 20px;
text-align: center;
align-content: center;
justify-content: center; 
margin-left: 425px; 
margin-right:175px;
padding-top: 0;
padding-left: 0 ;
padding-right: 0;
padding-bottom: 0;
margin-top: 150px;
margin-bottom: 150px;
border-radius : 25px;
background-color: #aebea1; 
}

.pwrapper4
{
display: grid;
grid-template-rows: 50rem;
grid-template-columns: 60rem;
padding-top: 20px; 
background-image: url(../images/hm.png);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}

.pleftimage4
{
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 1;
grid-column-end: 2;
margin-left: 300px; 
}

.pleftimage4text
{
grid-row-start: 1; 
grid-row-end: 2;
grid-column-start: 1;
grid-column-end:2; 
color: #000;
font-size: 20px;
text-align: center;
align-content: center;
justify-content: center; 
margin-left: 425px; 
margin-right:175px;
padding-top: 0 ;
padding-left: 0 ;
padding-right: 0;
padding-bottom: 0;
margin-top: 125px;
margin-bottom: 150px;
border-radius : 25px;
background-color: #aebea1;  
}

/*this is the styling for my pdf buttons on portfolio page*/
a.button:link {   
color:#2e664b;
border:1px solid #2e664b;
background-color: #f0a4bd;
padding-top: 7px;
padding-left: 7px;
padding-right:7px;
position: relative;
padding-bottom: 5px;
border-radius: 10px 10px;
text-decoration: none;
}

a href.button:link {   
color:#2e664b;
border:1px solid #2e664b;
background-color: #f0a4bd;
padding-top: 7px;
padding-left: 7px;
padding-right:7px;
position: relative;
padding-bottom: 5px;
border-radius: 10px 10px;
text-decoration: none;
}

a.button:visited {color:#3c2a4a;}         /*the css here controls the appearance of all my links*/
a.button:active {color: #000099;}

html
{scroll-behavior: smooth;}  /*when a person clicks one of the links in the
 table of contents on my portfolio it scrolls smoothly down rather than jumping right to it  */

.twrapper
{
display:grid ;
grid-template-rows: 210px;
padding-left: 310px;
padding-top: 20px;
background-image: url(../images/tbcontents.png);  
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}

.tableofcontents
{
grid-row-start:1;
grid-row-end: 2;
}

.backupwrapper
{
display:grid ;    /*this css controls the text 'back to top' that is at the bottom of my portfolio page*/
grid-template-rows: 50px;
}

.backup
{
grid-row-start:1;
grid-row-end: 2;
text-align: center; 
}

li:not(.except)
{list-style-type: none;
line-height: 2;
}

ul:not(.except)
{padding-inline-start: 0;}

text 
{font-family: "EB Garamond", serif;
font-weight: 450;
font-style: normal;
}

/*contact page css*/
.contacth1
{
padding-left: 150px;
}

input[type=text], select, textarea {
width: 100%; 
padding: 10px; 
border: 1px solid #ccc; 
border-radius: 4px; 
box-sizing: border-box; 
margin-top: 5px; 
margin-bottom: 16px;
resize: vertical; 
height: 45px; 
}
  
/* Style the submit button with a specific background color etc */
input[type=submit] {
background-color: #f0a4bd;
color: #000;
padding: 12px 16px;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 18px;
font-family: "EB Garamond", serif;
}
  
/* When moving the mouse over the submit button, change color */
input[type=submit]:hover {
background-color: #2e664b;
}
  
/* Add a background color and some padding around the form */
.container1 {
border-radius: 10px;
background-color: #aebea1;
padding: 10px;
margin: 15px; 
grid-column-start: 1;
grid-column-end: 2;
grid-row-start:1; 
grid-row-end:2; 
}
  
.contactwrapper
{
display: grid; 
grid-template-rows: 500px;
grid-template-columns: 600px 300px ;
padding-left: 50px; 
}
  
.container2
{
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 2;
grid-column-end: 3; 
}

.container2 img
{
padding:15px;
margin:8px;
background-color: #2e664b;
border-radius: 15px;
}


.container2 {
position: relative;
padding-top: 20px
}
    
.image {
display: block;
}

  /*below I changed the height/width from 100% */
  
.overlay {
position: absolute;
top: 18px;
height: 432px;
width: 330px;
opacity: 0;
transition: 3s ease-in-out;
background-color: #f0a4bd;
margin:8px;
border-radius: 15px;
}
    
.container2:hover .overlay {
opacity: 1;
}
    
.text {
color: #000;
font-size: 20px;
position: absolute;
top: 50%; 
left: 50%; 
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}
